@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-shadow {
    text-shadow: 2px 2px 2px black;
  }
}

* {
  box-sizing: border-box;
}

html,
body {
  background-color: #1e1e1e;
  color: #ffffff;
}
